@{
    ViewData["Title"] = "ConfigurarJuego";
    var categorias = ViewBag.Categorias as List<Categoria>;
}

<h1>Configurar Juego</h1>

<form method="post" action='@Url.Action("Comenzar","Home")'>
    <p>Nombre:</p>
    <input type="text" name="Username" required />

    <p>Categoría:</p>
    <select name="Categoria" required>
    <option value="-1">Todas</option>
        @if (categorias != null)
        {
            foreach (var categoria in categorias)
            {
                <option value="@categoria.IdCategoria">@categoria.Nombre</option>
            }
        }
    </select>

    <p><button type="submit">Comenzar</button></p>
</form>