@{
    ViewData["Title"] = "ConfigurarJuego";
    var categorias = ViewBag.Categorias as List<PrimerProyecto.Models.Categoria>;
}

<h1>Configurar Juego</h1>

<form method="get" action='@Url.Action("Comenzar","Home")'>
    <p>Nombre:</p>
    <input type="text" name="username" required />

    <p>Categoría:</p>
    <select name="categoria" required>
        <option value="-1">Todas</option>
        @if (categorias != null)
        {
            foreach (var categoria in categorias)
            {
                <option value="@categoria.IdCategoria">@categoria.Nombre</option>
            }
        }
    </select>

    <p><button type="submit">Jugar</button></p>
</form>