@{
    ViewData["Title"] = "Index";
}

<div>
    <p>Jugador: @ViewBag.username</p>
    <p>Puntaje final: @ViewBag.PuntajeActual</p>

    <form method="get" action='@Url.Action("ConfigurarJuego", "Home")'>
        <button type="submit">Volver a jugar</button>
    </form>
</div>



