@{
    ViewData["Title"] = "Index";
}

<h1>PREGUNTADOS ORT</h1>
<img src="~/img/Logo.png" alt="Logo">

<h2>Empezar</h2>
<form method="get" action='@Url.Action("ConfigurarJuego", "Home")'>
    <button type="submit">
        Configurar y Jugar
    </button>
</form>   
