@{
    ViewData["Title"] = "Index";
}

<h1>PREGUNTADOS ORT</h1>

<h2>Empezar</h2>

<form method="get" action='@Url.Action("ConfigurarJuego", "Home")'>
    <button type="submit">
        Configurar y Jugar
    </button>
</form>
