@{
    ViewData["Title"] = "Index";
}

<h1>PREGUNTADORT</h1>

<h2>Empezar</h2>
<form method="get" action='@Url.Action("ConfigurarJuego","Home")'>
    <p><button type="submit">Configurar y Jugar</button></p>
</form>